:focus{outline-color: transparent;}
footer{background-color: grey; color:white;text-align:center;}
.row {margin-left: auto;margin-right: auto;}
.door{text-align: center;margin-left: 5px; margin-right: 5px;}
.door:hover{cursor:pointer;}
.door .lock-img{background-position:center center;min-height: 100px;background-image: url('../images/lockedDoor-blue-small.png'); background-repeat:no-repeat;}
.door.slick-current .lock-img{background-image: url('../images/lockedDoor-green-small.png'); background-repeat:no-repeat;}
.slick-arrow {font-weight:bold;background:transparent;color:black;font-size: 14px; min-height: 100%;}
.slick-prev{left:-45px;}
#create-and-filter-zone{margin-top: 2px}
#zone-text #title{min-height:45px;}
#zone-button {margin:5px;}
#delete-btn {margin-left: 2px}

